/*Color Scheme
---------------------------------->
#51555D Davy Grey
#92DCE5 Light Blue
#DADBAF Yellow
#8AA884 Green
#EEE5E9 Platinum
#D64933 Vermilion
#E17A6A Terra Cotta
*/
/*font-family: 'Libre Franklin', sans-serif;*/
/*font-family: 'PT Mono', monospace;*/



@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

/*Tile Based Site all contained on one document*/

/*----------------------Desktop version Large----------------------*/

.row {
    border: 1px solid red;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    border: 1px solid blue;
}

.container-fluid,
.container {
    border: 1px solid green;
}


/*-----------------Navigation Bar START-----------------*/

/*Sets Height of Company brand logo*/
.company-logo-brand {
    height: 30px;
    padding-bottom: 0.4em;
}

.nav-style {
    margin-bottom: 0;
}


/*-----------------Navigation Bar END-----------------*/

/*
/
/
/
/
/
/
/
 */

/*-----------------Banner START----------------------*/
/*Sets the banner image*/
.banner-img {
    background: url("../_media/_images/reach-goal.jpeg") no-repeat;
    background-size: cover;
}

/*sets height and width of banner container*/
.banner-container {
    width: 100%;
    height: 900px;
}

/*sets position of the main phrase for sub phrases to follow*/
.phrase-main {
    /*font-family: 'PT Mono', monospace;*/
    font-family: 'Libre Franklin', sans-serif;
    transition: width;
    margin-top: 4em;
    color: #27576c;
    font-weight: bold;
    font-size: 4.5em;
}

.phrase-sub {
    color: #27576c;
    font-family: 'Libre Franklin', sans-serif;
    /*font-family: 'PT Mono', monospace;*/
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em;
}

/*Banner Animations*/

/*-----------------Banner END-----------------*/

/*
/
/
/
/
/
/
/
 */

